<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.epfl.sweng.eventmanager">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".EventManagerApplication"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:logo="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".ui.SplashActivity"
                android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".ui.event.selection.EventPickingActivity"
                android:launchMode="singleTop">

            <!-- TODO Setup URI addressing for app indexing -->
            <!-- Source stackoverflow answer https://stackoverflow.com/a/34368811 -->
            <intent-filter android:label="@string/filter_title_event_picking">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <!-- Accepts URIs that begin with "http://www.example.com/sdp” -->
                <data
                        android:host="www.example.com"
                        android:pathPrefix="/sdp"
                        android:scheme="http"/>

                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "example://sdp” -->
                <data
                        android:host="sdp"
                        android:scheme="example"/>
            </intent-filter>
            <!-- End of TODO -->

        </activity>
        <activity
                android:name=".ui.user.LoginActivity"
                android:label="@string/title_activity_login"/>
        <activity
                android:name=".ui.user.SignUpActivity"
                android:label="@string/title_activity_sign_up"/>
        <activity
                android:name=".ui.user.DisplayAccountActivity"
                android:label="@string/title_activity_account_display"/>
        <activity
                android:name=".ui.event.interaction.EventShowcaseActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.ticketing.TicketingConfigurationPickerActivity"/>
        <activity android:name=".ui.ticketing.TicketingLoginActivity"/>
        <activity android:name=".ui.ticketing.TicketingScanActivity"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="ch.epfl.sweng.eventmanager.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".ui.event.interaction.EventAdministrationActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.event.interaction.EventCreateActivity"
                  android:theme="@style/AppTheme.ActionBar"/>


        <receiver android:name=".repository.impl.NotificationPublisher"/>

        <activity android:name=".ui.settings.SettingsActivity"
                  android:label="Settings"
                  android:theme="@style/AppTheme.ActionBar"
        />

        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>